body{
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #4E71FF;
}
input::placeholder,
textarea::placeholder {
  font-size: 12px;
  font-style: bold;
}

body div {
    border: 1px solid #BBFBFF;
    padding: 20px;
    border-radius: 20px ;
    background-color: #00CAFF;
}
h1{
    text-align: center;
}
input {
    position: relative;
    border-radius: 15px;
    outline: none;
    font-size: large;
}

